In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/life-expectancy-who/Life Expectancy Data.csv

# Importing Required Libraries & Dependencies

In [2]:
import numpy as np

import pandas as pd

from collections import Counter

In [3]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [4]:
import seaborn as sns

import matplotlib.pyplot as plt

# Loading Dataset

In [5]:
life_expectancy = pd.read_csv('/kaggle/input/life-expectancy-who/Life Expectancy Data.csv')

In [6]:
life_expectancy.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.000,263.000,62,0.010,71.280,65.000,1154,...,6.000,8.160,65.000,0.100,584.259,33736494.000,17.200,17.300,0.479,10.100
1,Afghanistan,2014,Developing,59.900,271.000,64,0.010,73.524,62.000,492,...,58.000,8.180,62.000,0.100,612.697,327582.000,17.500,17.500,0.476,10.000
2,Afghanistan,2013,Developing,59.900,268.000,66,0.010,73.219,64.000,430,...,62.000,8.130,64.000,0.100,631.745,31731688.000,17.700,17.700,0.470,9.900
3,Afghanistan,2012,Developing,59.500,272.000,69,0.010,78.184,67.000,2787,...,67.000,8.520,67.000,0.100,669.959,3696958.000,17.900,18.000,0.463,9.800
4,Afghanistan,2011,Developing,59.200,275.000,71,0.010,7.097,68.000,3013,...,68.000,7.870,68.000,0.100,63.537,2978599.000,18.200,18.200,0.454,9.500

In [7]:
life_expectancy.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

# Data Pre-Processing

In [8]:
# To remove extra trailing spaces (beginning and end) from column names
life_expectancy.columns = life_expectancy.columns.str.strip()

In [9]:
life_expectancy.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [10]:
life_expectancy.columns = life_expectancy.columns.str.lower()

In [11]:
life_expectancy.columns

Index(['country', 'year', 'status', 'life expectancy', 'adult mortality',
       'infant deaths', 'alcohol', 'percentage expenditure', 'hepatitis b',
       'measles', 'bmi', 'under-five deaths', 'polio', 'total expenditure',
       'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness  1-19 years',
       'thinness 5-9 years', 'income composition of resources', 'schooling'],
      dtype='object')

In [12]:
life_expectancy.dtypes

country                             object
year                                 int64
status                              object
life expectancy                    float64
adult mortality                    float64
infant deaths                        int64
alcohol                            float64
percentage expenditure             float64
hepatitis b                        float64
measles                              int64
bmi                                float64
under-five deaths                    int64
polio                              float64
total expenditure                  float64
diphtheria                         float64
hiv/aids                           float64
gdp                                float64
population                         float64
thinness  1-19 years               float64
thinness 5-9 years                 float64
income composition of resources    float64
schooling                          float64
dtype: object

In [13]:
life_expectancy['year'] = life_expectancy['year'].astype(str)

In [14]:
life_expectancy.dtypes

country                             object
year                                object
status                              object
life expectancy                    float64
adult mortality                    float64
infant deaths                        int64
alcohol                            float64
percentage expenditure             float64
hepatitis b                        float64
measles                              int64
bmi                                float64
under-five deaths                    int64
polio                              float64
total expenditure                  float64
diphtheria                         float64
hiv/aids                           float64
gdp                                float64
population                         float64
thinness  1-19 years               float64
thinness 5-9 years                 float64
income composition of resources    float64
schooling                          float64
dtype: object

In [15]:
numerical_types = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

life_expectancy_numeric = life_expectancy.select_dtypes(include=numerical_types)

In [16]:
life_expectancy_numeric.columns

Index(['life expectancy', 'adult mortality', 'infant deaths', 'alcohol',
       'percentage expenditure', 'hepatitis b', 'measles', 'bmi',
       'under-five deaths', 'polio', 'total expenditure', 'diphtheria',
       'hiv/aids', 'gdp', 'population', 'thinness  1-19 years',
       'thinness 5-9 years', 'income composition of resources', 'schooling'],
      dtype='object')

# Central Tendancy Measures

## Mean

In [17]:
mean_results = [] 

for column_name, column_values in life_expectancy_numeric.items():
    values = life_expectancy_numeric[column_name]
    column_mean = values.sum() / values.count()
    mean_results.append({"Column": column_name, "Mean": column_mean})

mean_df = pd.DataFrame(mean_results)
mean_df

                             Column         Mean
0                   life expectancy       69.225
1                   adult mortality      164.796
2                     infant deaths       30.304
3                           alcohol        4.603
4            percentage expenditure      738.251
5                       hepatitis b       80.940
6                           measles     2419.592
7                               bmi       38.321
8                 under-five deaths       42.036
9                             polio       82.550
10                total expenditure        5.938
11                       diphtheria       82.324
12                         hiv/aids        1.742
13                              gdp     7483.158
14                       population 12753375.120
15             thinness  1-19 years        4.840
16               thinness 5-9 years        4.870
17  income composition of resources        0.628
18                        schooling       11.993

## Median

In [18]:
def calculate_median(column):
    
    sorted_values = column.dropna().sort_values().values #Sorting values
    
    n = len(sorted_values) # Finding total no.of values
    
    middlie_term = n // 2 # Getting middle term
    
    if n % 2: # If even
        median = (sorted_values[middlie_term - 1] + sorted_values[middlie_term]) / 2
    else: # If not even
        median = sorted_values[middlie_term]
        
    return  median

In [19]:
median_results = []

for column_name, column_values in life_expectancy_numeric.items():
    median = calculate_median(column_values)
    median_results.append({"Column": column_name, "Median": median})

median_df = pd.DataFrame(median_results)

median_df

                             Column      Median
0                   life expectancy      72.100
1                   adult mortality     144.000
2                     infant deaths       3.000
3                           alcohol       3.760
4            percentage expenditure      64.970
5                       hepatitis b      92.000
6                           measles      17.000
7                               bmi      43.500
8                 under-five deaths       4.000
9                             polio      93.000
10                total expenditure       5.760
11                       diphtheria      93.000
12                         hiv/aids       0.100
13                              gdp    1768.921
14                       population 1388115.000
15             thinness  1-19 years       3.300
16               thinness 5-9 years       3.300
17  income composition of resources       0.677
18                        schooling      12.300

## Mode

In [20]:
def calculate_mode(column):
    
    values = column.dropna()  # Remove NaN values
    
    frequency = Counter(values)  # Counting frequencies of each value in a particular column
    max_count = max(frequency.values())  # Finding the highest frequency
    
    # Finding all values with the highest frequency
    modes = [str(key) for key, count in frequency.items() if count == max_count]
    
    return ", ".join(modes)  # Returning a comma-separated string

In [21]:
mode_results = []

for column_name, column_values in life_expectancy_numeric.items():
    mode = calculate_mode(column_values)
    mode_results.append({"Column": column_name, "Mode": mode})

mode_df = pd.DataFrame(mode_results)
mode_df

,Column,Mode
0,life expectancy,73.0
1,adult mortality,12.0
2,infant deaths,0
3,alcohol,0.01
4,percentage expenditure,0.0
5,hepatitis b,99.0
6,measles,0
7,bmi,58.5
8,under-five deaths,0
9,polio,99.0
10,total expenditure,4.6
11,diphtheria,99.0
12,hiv/aids,0.1
13,gdp,"584.25921, 612.696514, 631.744976, 669.959, 63..."
14,population,444.0
15,thinness 1-19 years,1.0
16,thinness 5-9 years,0.9
17,income composition of resources,0.0
18,schooling,12.9

## Combined View

In [22]:
combined_df = pd.merge(mean_df, median_df, on="Column", how="outer")
combined_df = pd.merge(combined_df, mode_df, on="Column", how="outer")

combined_df

,Column,Mean,Median,Mode
0,adult mortality,164.796,144.000,12.0
1,alcohol,4.603,3.760,0.01
2,bmi,38.321,43.500,58.5
3,diphtheria,82.324,93.000,99.0
4,gdp,7483.158,1768.921,"584.25921, 612.696514, 631.744976, 669.959, 63..."
5,hepatitis b,80.940,92.000,99.0
6,hiv/aids,1.742,0.100,0.1
7,income composition of resources,0.628,0.677,0.0
8,infant deaths,30.304,3.000,0
9,life expectancy,69.225,72.100,73.0
10,measles,2419.592,17.000,0
11,percentage expenditure,738.251,64.970,0.0
12,polio,82.550,93.000,99.0
13,population,12753375.120,1388115.000,444.0
14,schooling,11.993,12.300,12.9
15,thinness 1-19 years,4.840,3.300,1.0
16,thinness 5-9 years,4.870,3.300,0.9
17,total expenditure,5.938,5.760,4.6
18,under-five deaths,42.036,4.000,0